.post-description-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center align all content */
  }
  
  .post-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .post-image {
    width: 100%; /* Make image full width */
    border-radius: 8px;
    margin-bottom: 20px;
    height: 400;
    object-fit: contain;
  }
  
  .post-liked {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .comments-heading {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .comments-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .comment {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  