.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Assets/dark.gif'); /* Update the path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .login-form {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .login-form p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
  }
  
  /* .login-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #2c3e50;
  }
  
  .login-form .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-form a {
    color: #2980b9;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  